.root{
-fx-background-color: #00b7ba;	
}

.label {
-fx-text-fill: whitesmoke;
-fx-font-size: 16;
-fx-font-weight: bold;
}


.button {
-fx-background-color: #d5eff0;
-fx-text-fill: black;
-fx-font-size: 14;
}
